---
layout: default
---
<div class="post">
  {% assign banner_image_path = 'assets/img/LogoAISem.jpg' %}
 <!-- <div class="banner">
    <img src="{{ banner_image_path }}" alt="Banner" class="img-fluid" style="max-width: 80%; height: auto;">
  </div> -->


 <div class="banner" style="background-image: url('{{ banner_image_path }}'); height: 300px; background-size: cover; background-position: center;"></div>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <!-- Upcoming Talk Section -->
  <section class="upcoming-talk">
    <h2 class="talk-title">Upcoming Talk</h2>
 <!--   <p class="talk-date">{{ page.talk_date }}</p>
    <hr style="border-top: 2px solid #bbb;"> 
  -->
  </section>

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"> 

  <div class="post">
  <article>
    {% if page.speakers %}
      {% for speaker in page.speakers %}
        <hr>
      
        <div class="clearfix">
          {% if speaker.content %}
            {% capture speaker_content %}{% include_relative {{ speaker.content }} %}{% endcapture %}
            {{ speaker_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>

<section class="upcoming-events">
  <h2 class="talk-title">Schedule</h2>
  <div class="events">
    {% for event in site.data.events %}
      <div class="event-card">
        <img src="{{ event.thumbnail | relative_url }}" alt="{{ event.title }}" class="event-thumbnail">
        <h3 class="event-title">{{ event.title }}</h3>
        <p class="event-speaker">{{ event.speaker }}, {{ event.speaker_position }}</p>
        <p class="event-info">{{ event.date | date: "%A, %B %d, %Y" }} from {{ event.start_time }} to {{ event.end_time }} at {{ event.location }}</p>
        <p class="event-description">{{ event.description }}</p>
        <a href="{{ event.link }}" class="event-link">More Info</a>
      </div>
    {% endfor %}
  </div>
</section>


  <article>
 
    <!-- Additional Sections (News, Latest Posts, Selected Papers, Social) -->
    <!-- Content continues unchanged -->
  </article>
</div>
